<link rel="stylesheet" href="/css/user_profile.css">

<h1>Codeial / <%= title %></h1>
<p>user id: <%= profile_user.id %></p>
<p>name: <%= profile_user.name %></p>
<p>email: <%= profile_user.email %></p>