.page-title {
    text-align: center;
}

.sign-in-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .auth-page-button button {
        padding: 8px 12px;
    }
}